@{
    ViewData["Title"] = "Student Information";
}
<h1 class="text-center, text-info">@ViewData["Title"]</h1>

<p>Student #: 1929-19</p>
<p>Name: Michelle T. Espeleta</p>
<p>Year Level: 3rd Year - Irregular Student</p>
<p>Birthdate: May 8, 1999</p>
<p>Age: 21 years old</p>
<p>Location: Biñan, Laguna</p>
<p>Hobbies: Reading, Digital Drawing, Dancing, and Playing Games</p>
